:root {
    --shops-list-gap: 15px;
  }
  
  .shops-list {
    display: flex;
    flex-direction: column;
    gap: var(--shops-list-gap);
  }
  
  .shops-list .shop-item {
    background-color: white;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
    padding: 15px;
  }
  
  .shops-list .shop-item ul.shop-address-list {
    list-style-type: none;
    padding-left: 0;
    font-weight: 700;
  }
  
  .shops-list .shop-item ul.shop-address-list a {
    font-weight: 400;
    text-decoration: none;
  }
  
  @media screen and (min-width: 450px) {
  
    .shops-list {
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .shops-list .shop-item {
      width: calc((100% - var(--shops-list-gap)) / 2);
    }
  }
  
  @media screen and (min-width: 600px) {
  
    .shops-wrapper {
      width: 50%;
    }
  
    .shops-list .shop-item {
      width: 100%;
    }
  
    .map-wrapper {
      width: 50%;
      order: 0;
    }
  
  }
  
  @media screen and (min-width: 800px) {

    .shops-list .shop-item {
      width: calc((100% - var(--shops-list-gap)) / 2);
    }
  
  }
